[submodule "community"]
	path = community
	url = https://github.com/action-quickly/awsome-plugins.git
[submodule "examples/plugins/json-formatter"]
	path = examples/plugins/json-formatter
	url = https://github.com/action-quickly/aq-json-formatter.git
[submodule "examples/plugins/translator"]
	path = examples/plugins/translator
	url = https://github.com/action-quickly/aq-translator.git
[submodule "examples/plugins/timestamp"]
	path = examples/plugins/timestamp
	url = https://github.com/action-quickly/aq-timestamp.git
[submodule "examples/plugins/color-picker"]
	path = examples/plugins/color-picker
	url = https://github.com/action-quickly/aq-color-picker.git
[submodule "examples/plugins/base64"]
	path = examples/plugins/base64
	url = https://github.com/action-quickly/aq-base64.git
